/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dropzone/dropzone
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
$navbar-default-bg: #354B5E;
$navbar-default-link-color: #DCDDD8;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-hover-bg: lighten($navbar-default-bg, 10%);
$navbar-default-link-active-bg: lighten($navbar-default-bg, 15%);
$navbar-default-link-active-color: #ECEFF3;
$body-bg: #ECEFF3;
$text-color: #475F77;
$brand-primary: #354B5E;
$link-color: lighten($text-color, 30%);
$font-family-sans-serif: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
$font-family-serif: 'Fauna One', serif;

@import "twitter/bootstrap";

