// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #ECEFF3;
}

.account-form {
  margin-top: 40px;
  border-radius: 2px;
  padding: 0 20px 20px;
  overflow: hidden;
  background: #FFF;
  -webkit-box-shadow: 0px 10px -14px 14px #FFF;
  -moz-box-shadow: 0px 10px -14px 14px rgb(255, 255, 255);
  box-shadow: 0px 10px -14px 14px #FFF;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  color: #777;
  h1 {
    text-align: center;
    margin: 0 -20px;
    padding: 30px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .form-actions {
    text-align: center;
    margin: 0 -15px;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #eee;
  }
}

.account-extras {
  text-align: center;
  color: #777;
  padding: 30px 0 0;
  font-size: 13px;
}
